@import url("style/header.css"); /*importa aqui pra não ficar muitos no html*/
@import url("style/banner.css");
@import url("style/carrossel.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins"

}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px; /*esse tamanhp normalmente é padrão*/
    font-weight: 400; /*peso regular*/

}


